<p>
 In recent years, scientific research has become more data driven and data intensive and it is no longer possible to carry out
  the analysis without the use of computers and research software. Unfortunately, software is not always developed following 
  best practices that ensure its quality and sustainability. 
  <a href="https://f1000research.com/articles/6-876/v1">Four simple recommendations to encourage best practices in open research 
    software</a> is a publication that addresses this issue by providing a simple, yet robust framework of recommendations that 
  encourage the adoption of existing best practices in research software development. These recommendations are designed around 
  Open Science values, and provide practical suggestions that contribute to making research software and its source code more 
  discoverable, reusable and transparent.
</p>
<p>
These recommendations recognise that not everyone can or want to make their software open from day one, but we encourage you 
  to learn from the recommendations and adapt them to your needs. For example, you can have a private repository, you can 
  and should still have a license, make contributions clear, and have a registry of your software.
</p>
