<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Project Organization</h3>
    <ul>
      <li>Data Tidiness</li>
      <li>Planning for NGS Projects</li>
      <li>Examining Data on the NCBI SRA Database</li>
      <li><a href="https://datacarpentry.org/organization-genomics/">Reference</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Introduction to Cloud Computing for Genomics</h3>
    <ul>
      <li>Why of cloud computing</li>
      <li>Logging onto Cloud</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="https://datacarpentry.org/cloud-genomics/">Reference</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Introduction to the Command Line for Genomics</h3>
    <ul>
      <li>Navigating Files and Directories</li>
      <li>Redirection</li>
      <li>Writing Shell Scripts</li>
      <li><a href="https://datacarpentry.org/shell-genomics/">Reference</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Data Wrangling and Processing for Genomics</h3>
    <ul>
      <li>Assessing Read Quality (FASTQ)</li>
      <li>Trimming and Filtering</li>
      <li>Variant Calling Workflow</li>
      <li>Automating a Variant Calling Workflow</li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/">Reference</a></li>
    </ul>
  </div>
</div>
