<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers
  who are interested in learning how bioinformatics is done in automated way
  using a server infrastructure. 
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
<p>
  <strong>What:</strong>
  We will start with an introduction to 
  the command line and use of command line utilities to analyze 
  sequence quality and perform variant calling. All using publicly available datasets
  and connecting to and using cloud computing.
</p>
